
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: linear-gradient(135deg, rgb(246, 190, 86), rgb(2, 2, 46));
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}

label {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

input {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 1px solid #222;
    background-color: transparent;
}

input:-webkit-autofill { 
    -webkit-background-clip: text;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 30%;
}

.checkbox-container {
    margin: 1rem 0;
}

.submit-button,
.reset-button {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: #FFF;
    background-color: rgb(8, 8, 78);
    border: 1px solid rgb(8, 8, 78);
    margin: 0.5rem 0;
}

.submit-button:disabled {
    background-color: rgb(78, 78, 137);
}

.input-error {
    border: 2px solid #8e0a0a;
}

.helper {
    display: none;
}

.helper-error {
    font-size: 0.75rem;
    color: #8e0a0a;
}